*.iml
.gradle
/local.properties
# Ignore all .idea files
.idea/
# Allow specific files or directories
!.idea/codeStyles/
!.idea/libraries/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
